.dice-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: none;
    width: 600px;
    text-align: center;
    margin-bottom: 50px;

}

.heading{
  margin-bottom: 100px;
}

.dice-player1{
 grid-column: 1;
 grid-row: 1;
 width: auto;
 height: auto;

}
.dice-player2{
grid-row: 1;
grid-column: 2;
width: auto;
height: auto;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	font-style:italic;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-bottom: 50px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}


body{
  background-color: #558776;
}

h1{
  color: #FFEAC9;
}

h3,h2{
  color: #FFEAC9;
  text-emphasis-style: open;
  margin-top: 40px;
}
